<% include includes/header.ejs %>

        <h2>Add Club Personels:</h2>
        <% if (err !== null) { %>
            <div class="alert alert-danger alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><%= err %></strong>
            </div>
            <% } %>
            <% if (msg !== null) { %>
            <div class="alert alert-info alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><%= msg %></strong>
            </div>
            <% } %>
        <form action="/dashboard/inclubpersonnel" method="POST" id="post-item-form">
            <div class="row">
                <div class="col-md-6">
                        <div class="form-group">
                                <label for="Club_id">Club id :</label>
                                <input type="text" class="form-control" name="Club_id" required >
                        </div>
                    <div class="form-group">
                        <label for="Name">Name:</label>
                        <input type="text" class="form-control" name="Name" required >
                    </div>
                    <div class="form-group">
                        <label for="Date_of_birth">DOB:</label>
                        <input type="date" class="form-control" name="Date_of_birth" required >
                    </div>
                    <div class="form-group">
                            <label for="Gender">Gender:</label>
                            <input type="text" class="form-control" name="Gender" required >
                        </div>
                    <div class="form-group">
                        <label for="Level">Level:</label>
                        <input type="text" class="form-control" name="Level" placeholder="Position" required>
                    </div>
                    <div class="form-group">
                        <label for="Contact_info">Contact info:</label>
                        <input type="text" class="form-control" name="Contact_info" placeholder="Ph no/email" required>
                    </div>
                    <div class="form-group">
                            <label for="Salary">Salary:</label>
                            <input type="text" class="form-control" name="Salary" placeholder="Ph no/email" required>
                    </div>
                    <div class="form-group">
                            <label for="Year_of_enrollment">Year of enrollment:</label>
                            <input type="date" class="form-control" name="Year_of_enrollment" placeholder="YYYY-MM-DD" required>
                    </div>
                  
                        
              
                    
                    <button class="btn btn-primary btn-block">
                        Add Details
                    </button>
                </div>
            </div>
        </form>

<% include includes/footer.ejs %>