<% include includes/header.ejs %>

<h2> Info:</h2>


<table class="table table-bordered table-hover">

    <thead class="font-weight-bold">
        <tr>
            <td>Id</td>
            <td>Player ID</td>
            <td>Passing Completion</td>
            <td>Passing Acuracy</td>
           
      
            
        </tr>
    </thead>
    <tbody>
        <% var i = 1; %>
        <% player.forEach(d=> { %>
            <tr>
                <td style="vertical-align:middle;"><%= d.Passing_Player_id; %></td>
                <td style="vertical-align:middle;"><%= d.Player_id; %></td>
                <td style="vertical-align:middle;"><%= d.Passing_completion; %></td>
                <td style="vertical-align:middle;"><%= d.Pass_accuracy; %></td>
                
                
            </tr>
        <% }) %>
    </tbody>
</table>

</div>
