<% include includes/header.ejs %>

<h2>Sponshorships:</h2>


<table class="table table-bordered table-hover">

    <thead class="font-weight-bold">
        <tr>
            <td>Company name</td>
            <td>Club Name</td>
            <td>Contact Information</td>
            <td>Annual Deal</td>
          
      
            
        </tr>
    </thead>
    <tbody>
        <% var i = 1; %>
        <% sponshorship.forEach(d=> { %>
            <tr>
                <td style="vertical-align:middle;"><%= d.Company_name; %></td>
                <td style="vertical-align:middle;"><%= d.Club_name; %></td>
                <td style="vertical-align:middle;"><%= d.Contact_info; %></td>
                <td style="vertical-align:middle;"><%= d.Annual_deal; %></td>
                
                
            </tr>
        <% }) %>
    </tbody>
</table>

</div>
