*{
    font-family:'Patrick Hand', cursive;
    letter-spacing: 0.5pt;
    box-sizing: border-box;
}

#logres {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
}

.login{
    padding: 8px 0px;
}
#myModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0,0,0,0.7);
    display: none;
}

#myModal .content {
    position: relative;
    top: 30%;
    padding: 1rem;
    background: white;
    display: inline-block;
    border-radius: 8px;
    min-width: 50%;
    max-width: 50%;
}