        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title> Club </title>
            <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
            <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU">
            <link rel="stylesheet" href="/css/dashboard.css">
        </head>
        <body>
            <nav id="sideNav" class="container">
                <div class="row">
                    <div>
                        <a>CLUB STATISTICS</a>
                    </div>
                    
                </div>
                <div class="row10">
                        <div>
                            <a>Club </a>
                        </div>
                        <ul>
                                <li><a class="home" href="/dashboard">Club Info</a></li>
                            </ul>
                    </div>
                </div>    
                <div class="row122">
                    <div class="col-md-4 my-auto">
                        <a class="brand" style="width: 100%;margin-top: 0.75rem;">Team</a>
                    </div>
                    <ul>
                        <li><a class="post_item" href="/dashboard/teamview">Team Info</a></li>
                        <li><a class="post_item" href="/dashboard/postteam"> Add Team</a></li>
                    </ul>
                </div>     
            <div class="row2">
                <div class="col-md-4 my-auto">
                    <a class="brand" style="width: 100%;margin-top: 0.75rem;">Player</a>
                </div>
                <ul>
                    <li><a class="post_item" href="/dashboard/playerinfo">Player Info</a></li>
                    <li><a class="post_item" href="/dashboard/addplayer"> Add Player</a></li>
                </ul>
            </div>
            <div class="row12">
                <div class="col-md-4 my-auto">
                    <a class="brand" style="width: 100%;margin-top: 0.75rem;">Stadium</a>
                </div>
                <ul>
                    <li><a class="post_item" href="/dashboard/stadium">Stadium Info</a></li>
                    <li><a class="post_item" href="/dashboard/post-item"> Add Stadium</a></li>
                </ul>
            </div>
            <div class="row3">
                <div class="col-md-4 my-auto">
                    <a class="brand" style="width: 100%;margin-top: 0.75rem;">Board </a>
                </div>
                <ul>
                    <li><a class="post_item" href="/dashboard/boardmember">Board member Info</a></li>
                    <li><a class="post_item" href="/dashboard/inboardmember"> Add board member </a></li>
                </ul>
            </div>
            
                <div class="row4">
                    <div>
                        <a>Club personnels </a>
                    </div>
                    <ul>
                        <li><a class="post_item" href="/dashboard/clubpersonnel">Club personnels</a></li>
                        <li><a class="post_item" href="/dashboard/inclubpersonnel"> Add Club personnels</a></li>
                    </ul>
                </div>
        
                
                </div>
           


                <div class ="row3">
                    <div>
                       <a>Sponshorship </a>
                    </div>
                  <ul>
                    <li><a class="post_item" href="/dashboard/sponshorship">Sponsers</a></li>
                    <li><a class="post_item" href="/dashboard/insponshorship">Add sponsers</a></li>
                  </ul>
               </div>
    
               <div class ="row3">
                    <div>
                       <a>Team Shorts </a>
                    </div>
                  <ul>
                    <li><a class="post_item" href="/dashboard/shotsteam">Show</a></li>
                    <li><a class="post_item" href="/dashboard/inshotsteam"> Add</a></li>
                  </ul>
               </div>     

          
                    
                
            </nav>
            <div class="container content auto-scroll">
